#### Inserindo Dados com Variáveis

In [1]:
import sqlite3
import random
import time
import datetime

In [2]:
# Criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando um cursor
cur = conn.cursor()

In [3]:
# Função para criar uma tabela
def create_table():
    cur.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
                'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    cur.execute('INSERT INTO produtos VALUES(10, "2021-04-14 20:36:15", "Teclado", 130.00)')
    conn.commit()
    cur.close()
    conn.close()
    
# Usando variáveis para inserir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50, 100)
    cur.execute("INSERT INTO produtos(date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

In [4]:
# # Gerando valores e inserindo na tabela
# for i in range(10):
#     data_insert_var()
#     time.sleep(1)

In [5]:
# Leitura de dados
def leitura_todos_dados():
    cur.execute("SELECT * FROM PRODUTOS")
    for linha in cur.fetchall():
        print(linha)
        
# Leitura de registros especificos
def leitura_registros():
    cur.execute("SELECT * FROM PRODUTOS WHERE valor > 80.0")
    for linha in cur.fetchall():
        print(linha)
        
        
# Leitura de colunas especificas
def leitura_colunas():
    cur.execute("SELECT * FROM PRODUTOS")
    for linha in cur.fetchall():
        print(linha[3])

In [6]:
# Select nos dados
leitura_todos_dados()

(10, '2021-04-14 20:36:15', 'Teclado', 90.0)
(11, '2021-04-14 21:18:23.445982', 'Monitor', 72.0)
(12, '2021-04-14 21:18:24.462400', 'Monitor', 70.0)
(13, '2021-04-14 21:18:25.471099', 'Monitor', 70.0)
(14, '2021-04-14 21:18:26.511118', 'Monitor', 76.0)
(16, '2021-04-14 21:18:28.533886', 'Monitor', 96.0)
(18, '2021-04-14 21:18:30.564294', 'Monitor', 78.0)
(19, '2021-04-14 21:18:31.568130', 'Monitor', 70.0)
(20, '2021-04-14 21:18:32.568648', 'Monitor', 70.0)
(21, '2021-04-14 21:34:51.165312', 'Monitor', 64.0)
(23, '2021-04-14 21:34:53.214767', 'Monitor', 62.0)
(24, '2021-04-14 21:34:54.226549', 'Monitor', 96.0)
(25, '2021-04-14 21:34:55.249748', 'Monitor', 77.0)
(26, '2021-04-14 21:34:56.261554', 'Monitor', 98.0)
(27, '2021-04-14 21:34:57.286531', 'Monitor', 75.0)
(28, '2021-04-14 21:34:58.344041', 'Monitor', 62.0)
(29, '2021-04-14 21:34:59.351323', 'Monitor', 61.0)
(30, '2021-04-14 21:35:00.360802', 'Monitor', 89.0)

In [7]:
# Leitura de registros especifico
leitura_registros()

(10, '2021-04-14 20:36:15', 'Teclado', 90.0)
(16, '2021-04-14 21:18:28.533886', 'Monitor', 96.0)
(24, '2021-04-14 21:34:54.226549', 'Monitor', 96.0)
(26, '2021-04-14 21:34:56.261554', 'Monitor', 98.0)
(30, '2021-04-14 21:35:00.360802', 'Monitor', 89.0)

In [8]:
# Leitura de colunas especificas
leitura_colunas()

90.0
72.0
70.0
70.0
76.0
96.0
78.0
70.0
70.0
64.0
62.0
96.0
77.0
98.0
75.0
62.0
61.0
89.0

In [9]:
# Encerrando a conexão
cur.close()
conn.close()